@charset "UTF-8";

body {
	margin: 0;
}

html {
	/* font-family: system-ui, sans-serif; */
	font-family: "Montserrat", sans-serif;
	background-color: #f6f6f6;
}

code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
	padding: 0.5rem 15px 1rem;
	font-weight: 600;

	& > a {
		color: rgb(var(--accent));
		text-decoration: none;
		line-height: 1.5rem;

		&:hover {
			color: #da62c4;
		}

		&.active {
			color: rgb(var(--accent));
		}

		&:not(:last-child) {
			margin-right: 1rem;
		}

		&:first-child:not(:last-child)::after {
			content: "/";
			padding-left: 0.5rem;
			color: rgb(var(--accent));
			font-weight: 800;
			min-width: 2rem;
			text-align: center;
		}
	}
}

.shadow-img {
	border-radius: 15px;
	box-shadow: 0px 2px 15px 2px #d1d1d1;
}
