---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = (await getCollection("blog")).sort(
	(a, b) => +b.data.pubDate - +a.data.pubDate,
);
---

<Layout
	title="Blog"
	description="Writing on software engineering, web development, and building things."
>
	<h1>Blog Archive</h1>
	<main>
		<div class="content">

			<ul>
				{allPosts.map((post) => <li><a href={`/posts/${post.id}/`}>{post.data.title}</a></li>)}
			</ul>
		</div>
	</main>
</Layout>

<style lang="scss">
	h1 {
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 2rem;
	}
	main {
		color: #444;
	}

	.content {
		padding-bottom: 1rem;
		& ul {
			padding: 0;
			list-style: none;
		}
		& a {
			font-size: 1.15rem;
			transition: all .2s ease-in-out;
			color: rgb(var(--accent));
			&:hover {
				color: #da62c4;
				font-size: 1.2rem;
			}
		}
	}
</style>
