---
import Card from "../components/Card.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<main>
		<div class="bio-container">
			<img
				class="shadow-img"
				src="/images/rebecca_clair4.webp"
				alt="Rebecca Clair"
			/>

			<div class="bio">
				<div class="window " style="">
					<div class="title-bar">
						<button aria-label="Close" class="close"></button>
						<h1 class="title">Hello !!</h1>
						<button aria-label="Resize" class="resize"></button>
					</div>
					<div class="separator"></div>

					<div class="window-pane unselectable-text">
						<p>
							<img
								class="inline-img"
								loading="lazy"
								src="/images/rebecca_clair4.webp"
								alt="Rebecca Clair"
							/>
							Hi! 👋🏻<br/>
							I'm <b>Rebecca Clair,</b><br />
							<br />
							A senior full stack engineer with a demonstrated history of working
							in the computer software industry. Highly skilled in C++ / Qt, Ruby,
							JavaScript, Typescript, and web technologies including HTML and CSS,
							React.
						</p>

						<p>
							Additionally, well-developed skills in Internet of Things,
							Embedded Systems, and software development with RFID technology,
							and distributed microservice architectures using MQTT and ZeroMQ.
						</p>
						<p>
							With 15+ years of experience working and managing diverse and
							large teams with effective communication to complete the
							engineering of successful applications.
						</p>
						<p>
							In my free time I enjoy practicing extreme sports, creating music
							and painting.
						</p>

						<div class="center bio-actions">
							<Social url="https://github.com/becksClair" platform="GitHub" />
							<Social
								url="https://www.linkedin.com/in/rebecca-clair/"
								platform="Linkedin"
							/>
							<Social
								url="https://bsky.app/profile/becksclair.bsky.social"
								platform="BlueSky"
							/>
							<Social url="https://x.com/becksClair" platform="X (Twitter)" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;

		@media (max-width: 990px) {
			text-align: center;
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}

	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

	.bio-container {
		display: flex;
		margin-top: 2rem;
		gap: 40px;

		& img {
			width: auto;
			height: 300px;
			// filter: sepia(0.3) saturate(0.7) contrast(1.2) brightness(0.9)
			// 	hue-rotate(10deg) blur(0.4px) grayscale(0.1);
		}

		& .inline-img {
			border-radius: 15px;
			height: 192px;
			box-shadow: 0px 2px 2px 2px #d1d1d1;
			// filter: sepia(0.4) saturate(0.7) contrast(0.9) brightness(1.1)
			// 	hue-rotate(-10deg);
			display: none;
			float: left;
			margin-right: 1rem;
		}

		@media (max-width: 990px) {
			flex-direction: column;
			margin-top: 1rem;
			align-items: center;

			& .shadow-img {
				display: none;
				width: 0;
				height: 0;
			}

			& .inline-img {
				display: inline;
			}
		}

		@media (max-width: 700px) {
			display: inline-flex;
			padding: 0;
			width: 100%;
			flex-direction: column;
			margin-top: 0rem;

			& img {
				width: auto;
				height: 300px;
			}

			.title-bar {
				display: none;
			}
			.separator {
				display: none;
			}
			// .content {
			// 	border: none !important;
			// 	width: unset !important;
			// }
		}
	}

	.bio {
		line-height: 1.1;
		// border: 1px solid rgba(var(--accent), 25%);
		// background-color: white;
		// padding: 1rem;
		// padding-top: 4px;
		// padding-bottom: 4px;
		// border-radius: 0.4rem;
		// box-shadow:
		// 	0 4px 6px -1px rgba(0, 0, 0, 0.1),
		// 	0 2px 4px -2px rgba(0, 0, 0, 0.1);
		// font-size: 18px;

		& .window {
				box-shadow: 2px 2px;
				margin: 0 auto;
			}

			& .window-pane {
				overflow: auto;
			}

		@media (max-width: 700px) {
			width: 100%;
			padding: 0;
			box-shadow: none;
			border: none;
			border-radius: 0;
			background-color: transparent;

			& .window {
				margin: 0.5rem;
			}
		}
	}

	.bio-actions {
		line-height: unset;
		margin-top: 2rem;
		margin-bottom: 1rem;
		display: flex;
		gap: 1rem;
		justify-content: center;

		@media (max-width: 700px) {
			flex-wrap: wrap;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
