---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Social from '../components/Social.astro';
---

<Layout title="Home">
	<main>
		<h1><span class="text-gradient">Rebecca Clair</span></h1>

		<div class="bio-container">
			<img class="shadow-img" src="/images/rebecca_clair.jpg" alt="Rebecca Clair" />

			<div class="bio">
				<p>
					Experienced senior full stack engineer with a demonstrated history
					of working in the computer software industry. Highly skilled in
					C++ / Qt, Ruby, JavaScript, Typescript, and web technologies
					including HTML and CSS, React.
				</p>
				<p>
					Additionally, well-developed skills in Internet of Things,
					Embedded Systems, and software development with RFID technology,
					and distributed microservice architectures using MQTT and ZeroMQ.
				</p>
				<p>
					With 10+ years of experience working and managing diverse and
					large teams with effective communication to complete the
					engineering of successful applications.
				</p>
				<p>
					In my free time I enjoy practicing extreme sports, creating music
					and painting.
				</p>

				<div class="bio-social">
					<Social url="https://github.com/becksClair" platform="github" />
					<Social url="https://www.linkedin.com/in/rebecca-clair/" platform="linkedin"/>
					<Social url="https://twitter.com/becksClair" platform="twitter"/>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;

		@media (max-width: 990px) {
			text-align: center;
		}
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0;
	}

	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

	.bio-container {
		display: flex;
		margin-top: 2rem;
		gap: 40px;

		& img {
			width: auto;
			height: 300px;
		}

		@media (max-width: 990px) {
			flex-direction: column;
			margin-top: 1rem;
			align-items: center;
		}

		@media (max-width: 700px) {
			flex-direction: column;
			margin-top: 1rem;
			& img {
				width: 100%;
				height: auto;
			}
		}
	}

	.bio {
		line-height: 1.6;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		padding-top: 4px;
    padding-bottom: 4px;
		border-radius: 0.4rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		font-size: 18px;
	}

	.bio-social {
		margin-top: 2rem;
		margin-bottom: 1rem;
		display: flex;
		gap: 1rem;
		justify-content: center;
		@media (max-width: 700px) {
			flex-wrap: wrap;
		}
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
