---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Rebecca Clair</title>

		<link rel="sitemap" href="/sitemap-index.xml">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/projects">Projects</a>
				<a href="/photography">Photography</a>
				<a href="/music">Music</a>
				<a href="/blog">Blog</a>
			</nav>
		</header>

		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		/* font-family: system-ui, sans-serif; */
		font-family: 'Montserrat', sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 800px;
		margin: 0 auto;
		padding: 0.5rem 15px 1rem;
		font-weight: 600;

		& > a {
			color: rgb(var(--accent));
			text-decoration: none;
			line-height: 1.5rem;

			&:hover {
				color: #da62c4;
			}

			&.active {
				color: rgb(var(--accent));
			}

			&:not(:last-child) {
				margin-right: 1rem;
			}

			&:first-child:not(:last-child)::after {
				content: '/';
				padding-left: 0.5rem;
				color: rgb(var(--accent));
				font-weight: 800;
				min-width: 2rem;
				text-align: center;
			}
		}
	}

	.shadow-img {
		border-radius: 15px;
    box-shadow: 0px 2px 15px 2px #d1d1d1;
	}
</style>
